@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;

.swiper{
    position: static !important;
}
.swiper-wrapper{
    z-index: -1 !important;
}
.swiper-button-prev,
.swiper-button-next {
    position: static !important;
    width: calc(var(--swiper-navigation-size) / 30 * 27) !important;
    margin-top: 0 !important;
    z-index: 0 !important;
}

.chevrons{
    display: flex;
    align-items: center;
    justify-content: end;
    gap:rem(32);

    &__wrapper{
        @include flex-center;
        width: 60px;
        height: 60px;
        @include border-radius(50%);
        border:2px solid $clr-primary;
        &:hover{
            background:$clr-secondary;
            svg{
                path{
                    fill:$clr-white;
                }
            }
        }
    }
}

