@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.header{
    background: $clr-primary;
    background: $clr-secondary;
    // background: $clr-sea;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-block:em(12);
    &__logo{
        display: flex;
        height: 100%;
        a{
            display: inline-flex;
        }
        img{
            width: 80px;
            height: auto;
            mix-blend-mode: screen;
        }
    }
    

    &__desktop-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}