@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.header{
    background: $clr-secondary;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    padding-block:em(12);
    @include transition(all, 0.4s, ease-in-out);
    
    &.sticks{
        top: -1px;
        padding-block: em(6.5);
        box-shadow: 0 1px 4px 0 $clr-boxShdaow;
        @include breakpoint-md{
            top: 0;
        }
    }
    &__logo{
        display: flex;
        height: 100%;
        a{
            display: inline-flex;
        }
        img{
            width: 80px;
            height: auto;
            mix-blend-mode: screen;
        }
    }
    &__desktop-wrapper{
       @include flex-center-vertical;
        justify-content: space-between;
    }
}