// Navy
$clr-primary:#11009E;
// $clr-primary:#00ADEF;

$clr-secondary:#4942E4;
// $clr-secondary: #ED1B24;
$clr-sea:#8696FE;
$clr-light-purple:#C4B0F4;
$clr-beige:#FEE2C5;
$clr-blue:#068FFF;
$clr-white:#fff;
$clr-black:#050505;

$clr-electric-blie:#0088CC;
$clr-ligth-green:#25D366;
$clr-pantone:#4267B2;
$clr-light-pink:#d62976;
$clr-yt:#c4302b; 

$clr-boxShdaow:#242424;

// background: linear-gradient(rgba(0, 80, 213, 0.85), rgba(0, 80, 213, 0.95));
// #FF6347;
// #A7CF3E;
// #2E3192;
// #00ADEF;
// #ED1B24;
// #D3F1FB;

// #00639E;
// #5C5291
