// Navy
$clr-primary:#11009E;

$clr-secondary:#4942E4;
$clr-sea:#8696FE;
$clr-light-purple:#C4B0F4;
$clr-beige:#FEE2C5;
$clr-blue:#068FFF;
// #00639E;
// #5C5291
$clr-white:#fff;
$clr-black:#050505;

$clr-electric-blie:#0088CC;
$clr-ligth-green:#25D366;
$clr-pantone:#4267B2;
$clr-light-pink:#d62976;
$clr-yt:#c4302b; 